<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>Index</title>

</head>

<body>

<form method="POST" class = "post-form">
    <input type="hidden" name="id" id="id" required maxlength="20" value="{{students.id}}"/>
  {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.css' %}"/>

          {% csrf_token %}
      <div class = "container">
  <br>
      <div class = "form-group row">
      <lable class = "col-sm-1 col-form-lable"></lable>
      <div class = "col-sm-4">
      <h3>Update Details</h3>
      </div>
    </div>
        <div class = "form-group row">
        <lable class = "col-sm-2 col-form-label">Students Rollno:</lable>
        <div class=" col-sm-4">
          {{ form.RollNo }}
        </div>
    </div>

        <div class = "form-group row">
        <lable class = "col-sm-2 col-form-label">Name:</lable>
        <div class=" col-sm-4">
          {{ form.Name }}
        </div>
    </div>

        <div class = "form-group row">
        <lable class = "col-sm-2 col-form-label">Branch:</lable>
        <div class=" col-sm-4">
          {{ form.Branch }}
        </div>
    </div>

        <div class = "form-group row">
        <lable class = "col-sm-2 col-form-label">Mark_1:</lable>
        <div class=" col-sm-4">
          {{ form.mark_1 }}
        </div>
    </div>

        <div class = "form-group row">
        <lable class = "col-sm-2 col-form-label">Mark_2:</lable>
        <div class=" col-sm-4">
          {{ form.mark_2 }}
        </div>
    </div>

        <div class = "form-group row">
        <label class = "col-sm-1 col-form-label"></label>
        <div class=" col-sm-4">

        </div>


    </div>

      </div>

   <center> <button type = "submit" class = "btn btn-primary">Update</button></center>
  </form>
</body>
</html>